.float-right {
  float: right;
}

.modal-header, .title {
  text-align: center;
}

.modal-footer {
  text-align: center;
}

.btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal {
  box-shadow: 10px 10px gray;
}

.col-md-2 {
  height: 175px;
  border: 2px solid black;
}

.square {
  font-size: 100px;
  text-align: center;
  line-height: 175px;
}

@media screen and (max-width: 768px) {
    .square {
      height: 75px;
      line-height: 75px;
      font-size: 50px;

    }
}

.footer-cake {
  text-align: center;
}

.table {
  overflow: hidden;
  margin-left: 25%;

}

.hidden {
  display: none;
}

.p1{
  float: left;
}
.p2 {
  float: right;
}

.scoreboard {
  border-bottom: 2px solid gray;
}

.form-control {
  margin-bottom: 10px;
}

.ng {
  margin-left: 45%;
  margin-bottom: 30px;
}

.scoreBox {
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-left: 38%;
  margin-bottom: 20px;
  width: 300px;
  float: left;
}

.lt-box {
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.mt-box {
  border-top: 2px solid white;
}

.rt-box {
 border-top: 2px solid white;
 border-right: 2px solid white;
}


.lm-box {
  border-left: 2px solid white
}

.rm-box {
  border-right: 2px solid white;
}

.lb-box {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.mb-box {
  border-bottom: 2px solid white;
}

.rb-box {
 border-bottom: 2px solid white;
 border-right: 2px solid white;
}
